.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin: 150px 400px;
    border-radius: 5px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
    border-radius: 5px;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
    border-radius: 5px;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.button {
    display: block;
    background-color: aqua;
    position: absolute;
    top: 500px;
    left: 42%;
    width: 100px;
}
.button:hover {
    cursor: pointer;
}

#score {
    position: absolute;
    left:410px;
    top: 100px;
    background-color: azure;
    padding: 3px;
    border-radius: 5px;
}

.started {
    display: none;
}